<h1>Good Food Hunting</h1>

<form action="/dishes/new">
	<button>new dish</button>
</form>

<% @dishes.each do |dish|%>
	<a class="index_dish" href="/dishes/<%= dish.id %>">
		<p><%= dish.name %></p>
		<img class="dish_image" src="<%= dish.image_url %>" alt="">
	</a>
<% end %>
