<h1>New Dish</h1>

<form action="/dishes" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="">Name</label>
	<input name="dish_name" type="text">
	<label for="">Image URL</label>
	<input name="image_url" type="text">
	<button>Submit</button>
</form>
